.AllClassAddDate{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0px 0px;
}

.cardAddDate{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80rem;
    height: 35rem;
    margin-top: 2rem;
    margin-left: 8rem;
}

.cardForm{
    width: 80%;
    padding-left: 5rem;
    padding-top: 5rem;
}

.AllClassNavbar{
    display: grid;
    grid-template-columns: 0.5fr 0.9fr 2.8fr 0.8fr;
    padding: 0px 0px;
  
  }
  
  .styleNav{
    text-decoration-line: none;
    padding-top: 1.6rem;
  }
  
  a{
    font-size: 1.3rem;
    color:#58b1e7;
    font-weight: 500;
    text-decoration: none;
  }

  .navbarStyle{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }